# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
nuget/

# DotCover is a Code Coverage Tool
*.dotCover

# Click-Once directory
publish/

# Open Cover report
coverage.xml

# Spelling cache.
.cspellcache

# docfx generated site assets.
_site/
api
