<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="WhatIsHeDoing" Description="Custom FxCop rules for projects from WhatIsHeDoing" ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="Hidden" />
    <Rule Id="SA1118" Action="Hidden" />
    <Rule Id="SA1208" Action="Hidden" />
    <Rule Id="SA1309" Action="Hidden" />
    <Rule Id="SA1515" Action="Hidden" />
    <Rule Id="SA1516" Action="Hidden" />
    <Rule Id="SA1600" Action="Hidden" />
    <Rule Id="SA1623" Action="Hidden" />
    <Rule Id="SA1633" Action="Hidden" />
    <Rule Id="SA1642" Action="Hidden" />
    <Rule Id="SA1652" Action="Hidden" />
  </Rules>
</RuleSet>
